<div class="center hero-unit">
  <h1>Welcome to Pocket Change</h1>

  <h2>
    Small donations. Big Change.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>


</div>