<% provide(:title, @charity.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @charity.name %>
        <%= @charity.email %>
      </h1>
    </section>
  </aside>
</div>